
<!-- ----------------------- This page is under development. Yet not ready for publish --------------------------  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <style>
        footer {
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1em;
        }
        .user-profile {
            margin-left: 390px;
        }
    </style>

</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo4.png') }}" alt="Logo" />
            </a>
        </div>
        <div class="user-profile">
            <a href="{{ url_for('dashboard') }}">
                <img src="{{ url_for('static', filename='images/profile_photo.png') }}" alt="Profile Photo" class="profile-photo">
            </a>
            <a href="{{ url_for('dashboard') }}" class="profile-name-link">
                <span>{{ current_user.name }}</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('admin') }}">Admin Panel</a></li>
            </ul>
        </nav>
    </header>

    <!-- <h2 style="text-align: center; color: red; font-size: x-large; font-weight: bold;">This page is under development. Yet not ready for publish</h2> -->

    <div class="admin-container">
        <h1>Admin Panel - Manage Users</h1><br>
        <h2>Buyers</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for buyer in buyers %}
                <tr>
                    <td>{{ buyer.id }}</td>
                    <td>{{ buyer.name }}</td>
                    <td>{{ buyer.email }}</td>
                    <td>{{ buyer.phone }}</td>
                    <td>buyer</td>
                    <td>
                        <a href="{{ url_for('delete_user', id=buyer.id, role='buyer') }}" style="text-decoration: none;">
                            <button class="delete-button" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <h2>Sellers</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for seller in sellers %}
                <tr>
                    <td>{{ seller.id }}</td>
                    <td>{{ seller.name }}</td>
                    <td>{{ seller.email }}</td>
                    <td>{{ seller.phone }}</td>
                    <td>seller</td>
                    <td>
                        <a href="{{ url_for('delete_user', id=seller.id, role='seller') }}" style="text-decoration: none;">
                            <button class="delete-button" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Dream Estate. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>

</html>

